.submit-btn.loading {

}
.onoffswitch-inner:before { content: 'Active'; }
.onoffswitch-inner:after { content: 'Inactive'; }

.form-group.required .col-form-label:after {
    content:" *";
    color:red;
}

.form-error-text {
    display: none;
}
table.dataTable tbody td {
    vertical-align: middle;
}

table.dataTable thead th {
    vertical-align: middle!important;
}

table.dataTable thead th::after {
    top: calc(50% - 10px);
}

table.dataTable .table-img {
    max-width: 50px;
    max-height: 50px;
}

.hint-tooltip-box, .hint-tooltip-box .tooltip-inner {
    max-width: 500px;
    text-align: left;
}

.hint-tooltip-right {
    position: absolute;
    top: 8px;
    right: -22px;
}

.g-upload-x {
    cursor: pointer;
    position: absolute;
    top: -14px;
    right: -10px;
}
.g-uploaded img {
    max-width: 100px;
    max-height:100px;
    display: block;
}
.g-uploaded {
    background-color: #f3f3f4;
    max-width: 120px;
    padding: 10px;
}
.gray-logo {
    filter: grayscale(100%);
    height: 90px;
}
.commission-src-tabs-container .tab-content {
    padding-top: 30px;
}
.commission-src-tabs-container .nav-tabs .nav-item.show .nav-link,
.commission-src-tabs-container .nav-tabs .nav-link.active {
    border-color: #fff #fff #1bb394 #fff;
}

.table-th {
    background-color: #F5F5F6;
}
.commission-history-table .edge
{
    border-right: 1px solid #e7eaec;
}

.timeline-table-scroller {
    /*     margin-left: 450px; */
}
.timeline-table-sticky {
    padding: 0!important;
    background-color: white;
    z-index: 1;
}

th.timeline-table-sticky {
    z-index: 2 !important;
}

.timeline-table-sticky-col {
    left: 0;
    position: sticky;
    top: auto;
    width: 100px;
}
.timeline-table-sticky-col .timeline-table-sticky-cell {
    width: 100px;
    background-color: white;
}
.timeline-table-sticky-col1 {
    left: 100px;
    position: sticky;
    top: auto;
    width: 150px;
}
.timeline-table-sticky-col1 .timeline-table-sticky-cell {
    width: 150px;
    background-color: white;
}
.timeline-table-sticky-col2 {
    left: 251px;
    position: sticky;
    top: auto;
    width: 200px;
}
.timeline-table-sticky-col2 .timeline-table-sticky-cell {
    width: 200px;
}
th.timeline-table-sticky-col2 .timeline-table-sticky-cell {
    background-color: inherit !important;
}
.timeline-table-sticky-cell  {
    padding: 8px;
    position: relative;
    height: 100%;
}
.timeline-table-sticky-cell .btn {
    position: relative;
}
.timeline-table-sticky-cell:before {
    content: '';
    position: absolute;
    left: -1px;
    right: -1px;
    bottom: -1px;
    top: -1px;
    border: 1px solid #e7eaec;
}

.timeline-table-scroller table tr:last-child td {
    border-bottom: 1px solid #e7eaec;
}

.timeline-table-scroller table tr td:first-child,
.timeline-table-scroller table tr th:first-child{
    border-left: 1px solid #e7eaec;
}
.timeline-table-scroller table tr:nth-child(odd) .timeline-table-sticky-col2 .timeline-table-sticky-cell {
    background: rgba(0,0,0,.05)
}
.timeline-table-scroller table td {
    height: 50px;
    border-right: 1px solid #e7eaec;
}

.timeline-table-scroller table th {
    border-right: 1px solid #e7eaec;
    position: sticky;
    background-color: rgb(244, 244, 244);
    top: 0;
    z-index: 1;
}

.timeline-table-scroller .today {
    background-color: #d5eae6!important;
}

.timeline-table-scroller .table-responsive::-webkit-scrollbar,
.timeline-table-scroller .table-responsive::-webkit-scrollbar-thumb,
.timeline-table-scroller .table-responsive::-webkit-scrollbar-track {
    background-color: #e6e9ed;
    height: 6px;
    width: 6px;
}
.timeline-table-scroller .table-responsive::-webkit-scrollbar-thumb {
    background-color: rgba(31,34,63,.3);
    border-radius: 5px;
}
/*.table-striped tbody tr:nth-of-type(odd) .timeline-table-sticky {*/
/*    background-color: rgba(0,0,0,.05);*/
/*}*/

.invisible {
    visibility: hidden;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}
